<% provide(:title, @user.name) %>

  <div class="row">
    <section class="user_info">
      <h1>
      <% if @user.image? %>
        <%= image_tag @user.image.thumb.url , class: "big-user-icon" %>
      <% else %>
        <%= image_tag "default.jpg", alt: "user-icon", class: "user-icon" %>
      <% end %>
      <br>
        <%= @user.name %>
      </h1>
    </section>
  <% if @project %>
    <div class="anim-box">
    <h4><%= "#{@user.name}" %> さんは <%= "#{@project.goal}" %> コースを選択しています</h4>
    </div>
    <table>
      <tr>
        <th>Step 1</th>
        <td>
        <%= @project.step_1 %>
        </td>
      </tr>
      <tr>
        <th>Step 2</th>
        <td><%= @project.step_2 %></td>
      </tr>
      <tr>
        <th>Step 3</th>
        <td><%= @project.step_3 %></td>
      </tr>
      <% if !@project.step_4.empty? %>
      <tr>
        <th>Step 4</th>
        <td><%= @project.step_4 %></td>
      </tr>
      <% else %>
      <% end %>
      <% if !@project.step_5.empty? %>
      <tr>
        <th>Step 5</th>
        <td><%= @project.step_5 %></td>
      </tr>
      <% else %>
      <% end %>
      <% if !@project.step_6.empty? %>
      <tr>
        <th>Step 6</th>
        <td><%= @project.step_6 %></td>
      </tr>
      <% else %>
      <% end %>
    </table>
  <% else %>
    <% if @user.id == current_user.id %>
      <div class="anim-box">
      <h4><%= link_to "ここからコースを選択してくれ！", new_project_path(current_user) %></h4>
      </div>
    <% else %>
      <div class="anim-box">
      <h4>コースを選択していないみたいだ！</h4>
      </div>
    <% end %>
    <table>
      <tr>
        <th>Step 1</th>
        <td> - </td>
      </tr>
      <tr>
        <th>Step 2</th>
        <td> - </td>
      </tr>
      <tr>
        <th>Step 3</th>
        <td> - </td>
      </tr>
      <tr>
        <th>Step 4</th>
        <td> - </td>
      </tr>
      <tr>
        <th>Step 5</th>
        <td> - </td>
      </tr>
      <tr>
        <th>Step 6</th>
        <td> - </td>
      </tr>
    </table>
  <% end %>
    <% if @user.id == current_user.id %>
      <%= link_to "勉強計画を練り直す", edit_project_path %>
    <% end %>
</div>